<div ng-app="Event-Api">
  <div ng-controller="EventApiController">
    <h1>Choose stuff!</h1>
    <div ng-repeat="event in events" class="event-container">
      <h3>{{event.title}}</h3>
      <img src="{{event.image_url}}">
      <button type="submit">Save</button>
    </div>
  </div>
<div>
