<div ng-controller="EventApiController">
<nav>
  <a href="/users"> Choose friends</a>
  <a ng-click="getFaves()" href="/favorites">My Events</a>
  <a href="/friends">My Friends</a>
  <%= link_to "Log Out", deletion_station_path, method: :delete %>
</nav>
  <div id="all-events-container">
    <button id="start-button">Show me fun stuff!</button>
    <button id="create-button">Add my own fun stuff!</button>
      <div ng-repeat="event in events" class="event-details-container" id="event-id-{{event.id}}">
        <h3>{{event.title}}</h3>
        <img src="{{event.image_url}}">
        <button type="submit" ng-click="showNextEvent($event)">Next</button>
        <button type="submit" ng-click="getIdsforFave($event)">Save</button>
      </div>


    <form id="create-event-form" class="auth-form">
      <input type = "text" ng-model="dateInput" name ="event[date]" placeholder="Date">
      <input type = "text" ng-model="timeInput" name ="event[time]" placeholder="Time">
      <input type = "text" ng-model="titleInput" name ="event[title]" placeholder="Title">
      <input type = "text" ng-model="descrInput" name ="event[descr]" placeholder="Description">
      <input type = "text" ng-model="locInput" name ="event[loc]" placeholder="Location">
      <input type = "text" ng-model="urlInput" name ="event[url]" placeholder="Url">
      <input type = "text" ng-model="imgInput" name ="event[img]" placeholder="Image Url">

      <button ng-click="makeEvent(dateInput,timeInput,titleInput,descrInput,locInput,urlInput,imgInput)">Create!</button>

    </form>
  </div>
</div>
<script src="/javascripts/event.js"></script>
