<nav>
  <a href="/users"> Choose friends</a>
  <a href="/events">Browse Events</a>
  <a href="/favorites">My Events</a>
  <%= link_to "Log Out", deletion_station_path, method: :delete %>
</nav>
<div ng-controller="EventApiController" id="my-events-container">

  <h1>Your friends</h1>
    <%@myFriends.each do |friend|%>
      <div class="friend-details-container">
        <ul>
        <li><%= friend.friend.username%></li>
        <% friend.friend.favorites.each do |fave|%>
        <p><%=fave%></p>
        <p><%=fave.event.url%></p>
        <%end%>

      </ul>
      </div>
    <% end %>
</div>
