<div ng-controller="EventApiController">
<nav>
  <a href="/events">Choose stuff</a>
  <a ng-click="getFaves()" href="/favorites">My Events</a>
  <a href="/friends">My Friends</a>
  <%= link_to "Log Out", deletion_station_path, method: :delete %>


</nav>
  <div id="users-container">
    <h1>Add Friends</h1>
<!--  TODO: only show uniques, or only save unique users to DB-->
    <div ng-repeat="user in users">
      <p>{{user.username}}</p>
      <button ng-click="getIdsforFriend($event)">Add Friend</button>
    </div>
  </div>
</div>
