<nav>
  <a href="/events">Choose stuff</a>
  <a href="/myfaves">My Events</a>
  <a href="/myfriends">My Friends</a>

</nav>
  <div ng-controller="EventApiController">

    <h1>All the users</h1>
    <!-- <p><%=@users%></p> -->
    <div ng-repeat="user in users">
      <p>{{user.username}}</p>
      <button ng-click="getIdsforFriend($event)">Add Friend</button>
    </div>
  </div>
