<div ng-controller="EventApiController">
<nav>
  <a href="/events">Choose stuff</a>
  <a ng-click="getFaves()" href="/favorites">My Events</a>
  <a href="/friends">My Friends</a>
  <%= link_to "Log Out", deletion_station_path, method: :delete %>


</nav>
  <div>
    <h1>All the users</h1>
    <!-- <p><%=@users%></p> -->
    <div ng-repeat="user in users">
      <p>{{user.username}}</p>
      <button ng-click="getIdsforFriend($event)">Add Friend</button>
    </div>
  </div>
</div>
