<div ng-app="Event-Api">
  <div ng-controller="EventApiController">

    <h1>All the users</h1>
    <!-- <p><%=@users%></p> -->
    <div ng-repeat="user in users">
      <p>{{user}}</p>
    </div>
  </div>
</div>
