<div class="background-slideshow">
  <figure>
    <img src="https://static.pexels.com/photos/4224/restaurant-person-people-hand-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/2850/people-party-dancing-music-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/1238/sunset-people-sun-men-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/4224/restaurant-person-people-hand-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/2850/people-party-dancing-music-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/1238/sunset-people-sun-men-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting-large.jpg">
  </figure>

</div>

<div>
  <h1>Do Fun Stuff With Friends</h1>

  <p><%= link_to "Sign Up Here!", new_user_path %></p>

  <p><%= link_to "Log In Here!", log_in_path %></p>
</div>
