<div class="background-slideshow">
  <figure>
    <img src="https://static.pexels.com/photos/4224/restaurant-person-people-hand-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/2850/people-party-dancing-music-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/1238/sunset-people-sun-men-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/4224/restaurant-person-people-hand-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/2850/people-party-dancing-music-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/1238/sunset-people-sun-men-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting-large.jpg">
  </figure>

</div>

<div id="landing-container" ng-controller="EventApiController">
  <h1>Do Fun Stuff With Friends</h1>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <button id="sign-up-button">Sign up!</button>
  <h6><%= link_to "Already Have an account? Log In", log_in_path %></h6>

</div>
