<div class="background-slideshow">
  <figure>
    <img src="https://static.pexels.com/photos/4224/restaurant-person-people-hand-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/2850/people-party-dancing-music-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/1238/sunset-people-sun-men-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/4224/restaurant-person-people-hand-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/2850/people-party-dancing-music-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/1238/sunset-people-sun-men-large.jpg">
  </figure>
  <figure>
    <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting-large.jpg">
  </figure>

</div>

<div id="landing-container" ng-controller="EventApiController">
  <h1>Do Fun Stuff With Friends</h1>
  <p> Browse awesome events in your area, connect with your friends, and DO FUN STUFF!</p>
  <button id="sign-up-button">Sign up!</button>

</div>
