html, body {
  overflow-x: hidden;
}

.event-details-container{
  border: 1px solid black;
}

.event-details-container img{
  width: 80%;
  margin: 0 10%;
}

.event-details-container button{
  display: block;
  margin: 0 auto;
}

#all-events-container{
  color: rgb(223, 223, 223);
  margin-left: 5%;
}

a{
  color: rgb(223, 223, 223);
}

a:visited{
  color: rgb(145, 145, 145);
}

button{
  background-color: rgb(98, 98, 98);
  font-size: 1em;
  width: 100px;
  border-radius: 5%;
}

body{
  margin: 0;
}

#landing-container{
  color: rgb(223, 223, 223);
  text-align: center;
}
/* Slideshow code from: http://themarklee.com/2013/10/16/simple-crossfading-slideshow-css/*/
.background-slideshow{
  margin: 0;
  position: relative;
}

.background-slideshow figure{
  width: 100%;
  position: absolute;
  margin:0;
  z-index: -1000;
}

.background-slideshow figure{
  opacity: 0;
}

.background-slideshow figure img{
  width: 105%;
  overflow: hidden;
}

figure:nth-child(1) {
   animation: xfade 48s 42s infinite;
}

figure:nth-child(2) {
   animation: xfade 48s 36s infinite;
}

figure:nth-child(3) {
   animation: xfade 48s 30s infinite;
}

figure:nth-child(4) {
   animation: xfade 48s 24s infinite;
}

figure:nth-child(5) {
   animation: xfade 48s 18s infinite;
}

figure:nth-child(6) {
   animation: xfade 48s 12s infinite;
}

figure:nth-child(7) {
   animation: xfade 48s 6s infinite;
}

figure:nth-child(8) {
   animation: xfade 48s 0s infinite;
}

@keyframes xfade{
   0%{
      opacity: 0.6;
   }
   10.5% {
      opacity:0.6;
   }
   20%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:0.6;
   }
}

.auth-form{
  position: absolute;
  margin: 10% 25%;
  width: 40%;
  padding: 2% 5%;
  background-color: rgb(98, 98, 98);
  color: rgb(223, 223, 223);
  border-radius: 4px;
  box-shadow: 5px 5px 10px black;
}

.sign-and-log-link{
  width: 20%;
  padding: 1% 5%;
  display: inline;
  background-color: rgb(91, 46, 46);
  margin-left: 0;
  margin-right: 0;
}

.links-container{
  margin-left: 25%;

}

.links-container .unselected:hover{
  transition: background-color 0.5s ease;
  background-color: rgb(124, 64, 64);

}

.links-container .unselected a:hover{
  transition: color 0.5s ease;
  color: rgb(223, 223, 223);
}

.links-container .selected{
  background-color: rgb(124, 64, 64);
}
.links-container .selected:hover{
  background-color: rgb(111, 56, 56);
}

form input{
  margin: 2% 0;
  padding: 2% 0 2% 2%;
}

form input[type="text"]{
  margin-left: 27%;
}

form input[type="password"]{
  margin-left: 27%;
}

form input[type="submit"]{
  margin-left: 32%;
  width: 100px;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media screen and (max-width : 1500px) {
     body {
       background-color: rgb(54, 19, 9);
     }
     .background-slideshow{
       width: 100%;
     }

     #landing-container{
       padding: 20%;
     }

     .event-details-container{
       width: 30%;
       display: inline-block;
     }
 }


 @media screen and (min-width : 300px) and (max-width : 780px) {
     body {
         /*background: #fff;*/
     }

     .background-slideshow{
       margin-top: 10%;
       width: 200%;
     }

     #landing-container{
       padding: 10%;
     }
     #landing-container p{
       font-size: 1.2em;
     }

     .auth-form *{
       margin-left: auto;
       margin-right: auto;
       padding: 3%;
     }

     .auth-form input[type="text"]{
       margin-left: 0;
     }

     .auth-form input[type="password"]{
       margin-left: 0;
     }

     .auth-form input[type="submit"]{
       margin-left: 0;
     }

     .event-details-container{
       width: 70%;
       display: block;
       padding: 10%;
     }

     #all-events-container{
       margin-left: 10%;
     }

 }
