.event-container{
  border: 1px solid black;
}
button{
  background-color: red;
  height: 50px;
  width: 100px;
}
body{
  background-color: rgb(54, 19, 9);
}
/* Slideshow code from: http://themarklee.com/2013/10/16/simple-crossfading-slideshow-css/*/

.background-slideshow{
  position: relative;
  width: 100%;

}
.background-slideshow figure{
  width: 100%;
  position: absolute;
  margin:0;
  z-index: -1000;
}
.background-slideshow figure{
  opacity: 0;
}
.background-slideshow figure img{
  width: 100%;
}

figure:nth-child(1) {
   animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
   animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
   animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
   animation: xfade 48s 23s infinite;
}
figure:nth-child(5) {
   animation: xfade 48s 17s infinite;
}
figure:nth-child(6) {
   animation: xfade 48s 11s infinite;
}
figure:nth-child(7) {
   animation: xfade 48s 5s infinite;
}
figure:nth-child(8) {
   animation: xfade 48s 0s infinite;
}

@keyframes xfade{
   0%{
      opacity: 0.6;
   }
   10.5% {
      opacity:0.6;
   }
   12.5%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:0.6;
   }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
